.commentSection {
  width: 100%;
  margin-top: 0px;
}

.comment {
  display: flex;
  margin-left: 10px;
}

.commentContent {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 16px;
}

.momentTrack {
  margin-top: 0px;
  margin-left: 20px;
  font-size: 12px;
}

.newComment {
  margin-left: 12px;
  width: 95%;
  height: 60px;
  border-top: 1px solid rgb(240, 240, 240);
}

.addComment {
  margin-top: 20px;
  width: 90%;
  height: 20px;
  font-size: 16px;
  border: none;
}

.addComment::placeholder {
  font-size: 16px;
  text-align: left;
}
