.post {
    width: 650px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.thumbnail {
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
    width: auto;
    height: 40px;
}

.username {
    margin-left: 5px;
    font-weight: bold;
}

.postImage {
    width: 100%;
    margin-top: 10px;
}